NODE_ENV=development

ORDERS_PORT=3001
PAYMENTS_PORT=3002
NOTIFICATION_PORT=3003
ORDERS_DB_PATH=data/orders.sqlite
PAYMENTS_DB_PATH=data/payments.sqlite

AWS_REGION=us-east-1
AWS_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

AWS_SNS_PAYMENT_CONFIRMED_TOPIC_ARN=
AWS_SQS_ORDERS_PAYMENT_CONFIRMED_QUEUE_URL=
AWS_SQS_NOTIFICATION_PAYMENT_CONFIRMED_QUEUE_URL=
