NODE_ENV=development

ORDERS_PORT=3001
PAYMENTS_PORT=3002
PRODUCTS_PORT=3004
CART_PORT=3005
ORDERS_DB_PATH=data/orders.sqlite
PAYMENTS_DB_PATH=data/payments.sqlite
PRODUCTS_DB_PATH=data/products.sqlite
CART_DB_PATH=data/cart.sqlite
ORDERS_BASE_URL=http://localhost:3001
PRODUCTS_BASE_URL=http://localhost:3004

AWS_REGION=us-east-1
AWS_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

AWS_SNS_PAYMENT_CONFIRMED_TOPIC_ARN=
AWS_SQS_ORDERS_PAYMENT_CONFIRMED_QUEUE_URL=
AWS_SQS_NOTIFICATION_PAYMENT_CONFIRMED_QUEUE_URL=
RESEND_API_KEY=
NOTIFICATION_EMAIL_FROM=onboarding@resend.dev
NOTIFICATION_DEFAULT_TO_EMAIL=
NOTIFICATION_LAMBDA_FUNCTION_NAME=notification-payment-confirmed
